
*{
    box-sizing: border-box;
}

body{
    font-family: serif,Arial, Helvetica, sans-serif;
}

h1{
    font-size: 28px;
    text-transform: uppercase;
}

#job{
    font-size: 18px;
    font-weight: bold;
    color: #b7b7a4;
}

.summary{
    font-size: 16px;
    line-height: 20px;
}

h3{
    color: #6b705c;
    font-size: 20px;
    border-bottom: 1px solid #6b705c;
    padding-bottom: 2px;
}

header,footer{
    text-align: center;
    background-color: #b5b5a9;
}

footer{
    padding: 2px 10px 2px 10px;
}

ul{
    margin: 0px;
    border-bottom: 5px;
}

header{
    padding: 2px 0px;
}

a{
    color: #6b705c;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

table:nth-child(1){
    border: 2px;
    border-collapse: collapse;
    background-color: #6b705c;
    color: #b5b5a9;
}

td{
    border: 1px solid;
    padding: 5px;
}

input:not(submit){
    border: 1px solid;
    width: 150px;
    padding: 5px;
    margin-bottom: 5px;
}

